<div class="row" ng-init="showBody='true';hideWidget='false'"
     ng-hide="hideWidget=='true'">
    <div class="col-md-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <ul class="panel-controls pull-left" style="margin-top: 2px;">
                    <button id="close-requests-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                        for="close-requests-menu-lower-left">
                        <li class="mdl-menu__item mdl-list__item"
                            ng-click="showBody=='true' ? showBody='false' : showBody='true'">
                            <span>{{showBody=='true' ? 'اخفاء' : 'اظهار'}}</span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                            ng-click="hideWidget='true'">
                            <span>حذف</span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item" ng-click="fetchThisDay()">
                            <span>طلبات اليوم</span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item" ng-click="fetchThisWeek()">
                            <span>طلبات الاسبوع</span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item" ng-click="fetchThisMonth()">
                            <span>طلبات الشهر</span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item" ng-click="fetchThisYear()">
                            <span>طلبات العام</span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                            ng-click="fetchAllTime()">
                            <span>كل الطلبات</span>
                        </li>
                        <li class="mdl-menu__item mdl-list__item" ng-click="refresh()">
                            <span>تحديث البيانات</span>
                        </li>
                    </ul>
                </ul>
                <div class="panel-title-box pull-right">
                    <h3>{{!viewType? 'طلبات الإغلاق/التمديد حسب الوقت' : viewType}}</h3>
                    <span>طلبات الإغلاق/التمديد من المكلفين حسب الوقت، ويمكنك التخصيص من خلال عرض</span>
                </div>
            </div>
            <div class="panel-body" ng-show="showBody=='true'">
                <div class="row">
                    <div class="table-responsive">
                        <table st-table="collection" st-safe-src="closeRequests"
                               class="table table-bordered table-striped">
                            <tbody>
                            <tr ng-repeat="closeRequest in collection | filter:{approved:null} | orderBy:date:true">
                                <td>
                                    <table width="100%">
                                        <tbody>
                                        <tr>
                                            <td colspan="1" class="text-right">
                                                <span>
                                                     <strong ng-class="{'label label-danger':closeRequest.type, 'label label-warning':!closeRequest.type}">{{closeRequest.type ? "طلب إغلاق" : "طلب تمديد"}}</strong>
                                                </span>
                                                <span>المرسل /</span>
                                                <span>
                                                     <a href=""
                                                        ng-click="viewInfo===1?viewInfo=false:viewInfo=1"><strong>{{closeRequest.person.name}}</strong></a>
                                                </span>
                                                <span> عنوان المهمة / </span>
                                                <span>
                                                     <a href=""
                                                        ng-click="openDetailsModel(closeRequest)"><strong>{{closeRequest.task.title}}</strong></a>
                                                </span>
                                            </td>
                                            <td colspan="1" class="text-left">
                                                <span class="label label-success">
                                                    <timer interval="60000" start-time="closeRequest.date"><span> {{(minutes < 1 && hours < 1 && days < 1 )? 'الآن' : 'منذ'}} </span> {{days > 0 ? days : ''}} {{days > 0 ? 'يوم' : ''}} {{hours > 0 ? hours : ''}} {{hours > 0 ? 'ساعة' : ''}} {{minutes > 0 ? minutes : ''}} {{minutes > 0 ? 'دقيقة' : ''}}</timer>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="1" class="text-right" style="padding: 5px;">
                                                <strong>{{closeRequest.note}}</strong>
                                            </td>
                                            <td colspan="1" class="text-left" style="padding: 10px 0px 10px 0px;">
                                                <ul class="panel-controls pull-left">
                                                    <li>
                                                        <a href="" ng-click="openCreateWarnModel(closeRequest)"
                                                           tooltip-append-to-body="true"
                                                           uib-tooltip="ارسال تحذير">
                                                            <span class="fa fa-bell-o"></span>
                                                        </a>
                                                        <a href="" ng-click="openCreateDeductionModel(closeRequest)"
                                                           tooltip-append-to-body="true"
                                                           uib-tooltip="ارسال خصم">
                                                            <span class="fa fa-bomb"></span>
                                                        </a>
                                                        <a href="" ng-click="closeTaskCompletely(closeRequest)"
                                                           tooltip-append-to-body="true"
                                                           uib-tooltip="ارشفة">
                                                            <span class="fa fa-archive"></span>
                                                        </a>
                                                        <a href="" ng-click="acceptRequest(closeRequest)"
                                                           tooltip-append-to-body="true"
                                                           uib-tooltip="موافق">
                                                            <span class="fa fa-thumbs-o-up"></span>
                                                        </a>
                                                        <a href="" ng-click="declineRequest(closeRequest)"
                                                           tooltip-append-to-body="true"
                                                           uib-tooltip="غير موافق">
                                                            <span class="fa fa-thumbs-o-down"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr ng-if="viewInfo===1">
                                            <td colspan="2">
                                                <table class="table table-bordered">
                                                    <tbody>
                                                    <tr>
                                                        <td colspan="2" class="success"><strong>بيانات المرسل</strong>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>الاسم</td>
                                                        <td>{{closeRequest.person.name}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>البريد الإلكتروني</td>
                                                        <td>{{closeRequest.person.email}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                ng-show="!collection || collection.length ==0">
                                <td colspan="1">لا توجد نتائج</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>