<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">

            <span class="mdl-layout__title">{{pageTitle}}</span>

            <div class="mdl-layout-spacer"></div>

            <button id="options-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">settings_applications</i>
            </button>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="options-menu-lower-left">
                <li class="mdl-list__item mdl-menu__item--full-bleed-divider">
                    <span ng-if="lang==='AR'">خيارات البرنامج</span>
                    <span ng-if="lang==='EN'">PREFERENCES</span>
                </li>
                <li class="mdl-menu__item mdl-list__item"
                    ng-click="switchDateType()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">timer</i>
                        <span ng-if="dateType==='H' && lang==='AR'">تطبيق التاريخ الميلادي</span>
                        <span ng-if="dateType==='H' && lang==='EN'">GREGORIAN DATE</span>
                        <span ng-if="dateType==='G' && lang==='AR'">تطبيق التاريخ الهجري</span>
                        <span ng-if="dateType==='G' && lang==='EN'">HIJRI DATE</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider"
                    ng-click="switchLang()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">language</i>
                        <span ng-if="lang==='EN'">ARABIC GUI</span>
                        <span ng-if="lang==='AR'">تطبيق الواجهة الإنجليزية</span>
                    </span>
                </li>
                <li class="mdl-list__item">
                    <button href="" ng-click="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        <span ng-if="lang==='AR'">المزيد من الخيارات</span>
                        <span ng-if="lang==='EN'">MORE...</span>
                    </button>
                </li>
            </ul>

            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon mdl-icon-margin">
                <i class="material-icons">more_vert</i>
            </button>
            <ul ng-class="{'mdl-menu--bottom-left' : lang==='AR', 'mdl-menu--bottom-right' : lang==='EN'}" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-shadow--2dp"
                for="menu-lower-left">
                <li class="mdl-list__item mdl-list__item--two-line mdl-menu__item--full-bleed-divider">
                    <span class="mdl-list__item-primary-content">
                        <span class="material-icons mdl-list__item-avatar"
                              ng-style="{'background-image': 'url(' + me.img + ')'}"></span>
                        <span>{{me.name}}</span>
                        <span class="mdl-list__item-sub-title">{{me.email}}</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="goToHelp()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">help</i>
                        <span ng-if="lang==='AR'">المساعدة</span>
                        <span ng-if="lang==='EN'">HELP</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item mdl-menu__item--full-bleed-divider" ng-click="goToAbout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">info</i>
                        <span ng-if="lang==='AR'">عن البرنامج</span>
                        <span ng-if="lang==='EN'">ABOUT</span>
                    </span>
                </li>
                <li class="mdl-menu__item mdl-list__item" ng-click="logout()">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-icon">exit_to_app</i>
                        <span ng-if="lang==='AR'">تسجيل الخروج</span>
                        <span ng-if="lang==='EN'">SIGN OUT</span>
                    </span>
                </li>
            </ul>

        </div>
    </header>

    <div class="mdl-layout__drawer" style="padding-top: 50px !important;">
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="home" ui-sref-active="mdl-navigation__link-active mdl-color--primary">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">dashboard</i>
                    <span ng-if="lang==='AR'">الرئيسية</span>
                    <span ng-if="lang==='EN'">DASHBOARD</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="company" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_COMPANY_UPDATE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">business</i>
                    <span ng-if="lang==='AR'">الشركة</span>
                    <span ng-if="lang==='EN'">COMPANY</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="region" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_REGION_CREATE', 'ROLE_REGION_UPDATE', 'ROLE_REGION_DELETE', 'ROLE_REGION_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">place</i>
                    <span ng-if="lang==='AR'">المناطق</span>
                    <span ng-if="lang==='EN'">REGIONS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="branch" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_BRANCH_CREATE', 'ROLE_BRANCH_UPDATE', 'ROLE_BRANCH_DELETE', 'ROLE_BRANCH_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">layers</i>
                    <span ng-if="lang==='AR'">الفروع</span>
                    <span ng-if="lang==='EN'">BRANCHES</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="department" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_DEPARTMENT_CREATE', 'ROLE_DEPARTMENT_UPDATE', 'ROLE_DEPARTMENT_DELETE', 'ROLE_DEPARTMENT_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">store</i>
                    <span ng-if="lang==='AR'">الأقسام</span>
                    <span ng-if="lang==='EN'">DEPARTMENTS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="employee" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_EMPLOYEE_CREATE', 'ROLE_EMPLOYEE_UPDATE', 'ROLE_EMPLOYEE_DELETE', 'ROLE_EMPLOYEE_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">person_pin</i>
                    <span ng-if="lang==='AR'">الموظفون</span>
                    <span ng-if="lang==='EN'">EMPLOYEES</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="team" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_TEAM_CREATE', 'ROLE_TEAM_UPDATE', 'ROLE_TEAM_DELETE'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">security</i>
                    <span ng-if="lang==='AR'">الصلاحيات</span>
                    <span ng-if="lang==='EN'">PRIVILEGES</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="person" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_PERSON_CREATE', 'ROLE_PERSON_UPDATE', 'ROLE_PERSON_DELETE', 'ROLE_PERSON_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">lock</i>
                    <span ng-if="lang==='AR'">المستخدمون</span>
                    <span ng-if="lang==='EN'">USERS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="task" ui-sref-active="mdl-navigation__link-active mdl-color--primary"
               ng-if="contains(me.team.authorities, ['ROLE_TASK_CREATE', 'ROLE_TASK_UPDATE', 'ROLE_TASK_DELETE', 'ROLE_TASK_REPORT'])">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">assignment</i>
                    <span ng-if="lang==='AR'">المهام</span>
                    <span ng-if="lang==='EN'">TASKS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">assignment</i>
                    <span ng-if="lang==='AR'">التقارير</span>
                    <span ng-if="lang==='EN'">REPORTS</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="about" ui-sref-active="mdl-navigation__link-active mdl-color--primary">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">info</i>
                    <span ng-if="lang==='AR'">عن البرنامج</span>
                    <span ng-if="lang==='EN'">ABOUT</span>
                </span>
            </a>
            <a class="mdl-navigation__link mdl-menu__item mdl-list__item"
               href="" ui-sref="profile" ui-sref-active="mdl-navigation__link-active mdl-color--primary">
                <span class="mdl-list__item-primary-content">
                    <i class="material-icons mdl-list__item-icon">account_circle</i>
                    <span ng-if="lang==='AR'">الحساب الشخصي</span>
                    <span ng-if="lang==='EN'">PROFILE</span>
                </span>
            </a>
        </nav>
    </div>

    <main class="mdl-layout__content">

        <div dir="rtl" class="row" style="margin-top: 10px">

            <form dir="rtl" name="from" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
                  focus-group-head="loop" focus-group-tail="loop">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">

                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                     ng-show="form.$invalid && form.$submitted">
                                    <div class="alert alert-danger" role="alert">
                                        <strong>فضلاً اكمل الحقول المطلوبة</strong>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">البيانات الاساسية</div>
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <label for="firstName" class="control-label">اللقب </label>
                                                    <input id="firstName"
                                                           type="text"
                                                           focus-autofocus="1"
                                                           required="required"
                                                           disable-validation-message=""
                                                           class="form-control text-right"
                                                           ng-model="me.nickname">
                                                </div>

                                                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                    <label for="forthName" class="control-label">الاسم كاملاً </label>
                                                    <input id="forthName"
                                                           type="text"
                                                           required="required"
                                                           disable-validation-message=""
                                                           class="form-control text-right"
                                                           ng-model="me.name">
                                                </div>
                                            </div>

                                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label for="nationality" class="control-label">الجنسية </label>
                                                <input id="nationality"
                                                       type="text"
                                                       class="form-control text-right"
                                                       required="required"
                                                       disable-validation-message=""
                                                       ng-model="me.nationality">
                                            </div>

                                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label for="identityNumber" class="control-label">رقم الهوية / رخصة
                                                    الإقامة </label>
                                                <input id="identityNumber"
                                                       type="text"
                                                       class="form-control text-right"
                                                       ng-model="me.identityNumber">
                                            </div>

                                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label for="mobile" class="control-label">الجوال </label>
                                                <input id="mobile"
                                                       type="text"
                                                       required="required"
                                                       disable-validation-message=""
                                                       class="form-control text-right"
                                                       ng-model="me.mobile">
                                            </div>

                                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label for="address" class="control-label">العنوان الحالي </label>
                                                <input id="address"
                                                       type="text"
                                                       class="form-control text-right"
                                                       ng-model="me.address">
                                            </div>

                                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label for="qualification" class="control-label">المؤهل </label>
                                                <input id="qualification"
                                                       type="text"
                                                       required="required"
                                                       disable-validation-message=""
                                                       class="form-control text-right"
                                                       ng-model="me.qualification">
                                            </div>

                                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label for="team" class="control-label">مجموعة الصلاحيات</label>
                                                <input id="team"
                                                       type="text"
                                                       readonly
                                                       class="form-control text-right"
                                                       ng-model="me.team.name">
                                            </div>

                                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label for="email" class="control-label">البريد الإلكتروني</label>
                                                <input id="email"
                                                       dir="ltr"
                                                       type="text"
                                                       required="required"
                                                       disable-validation-message=""
                                                       class="form-control text-left"
                                                       ng-model="me.email">
                                            </div>

                                            <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <label for="password" class="control-label">الرقم السري</label>
                                                <input id="password"
                                                       dir="ltr"
                                                       type="password"
                                                       required="required"
                                                       disable-validation-message=""
                                                       class="form-control text-left"
                                                       ng-model="me.password">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">الصورة الشخصية</div>
                                        <div class="panel-body">
                                            <input type="file" nv-file-select="" uploader="uploader" accept="image/*"/>
                                            <img ng-src="{{logoLink}}" style="width: 100%; height: 100%"/>
                                            <div ng-show="uploader.queue.length > 0"
                                                 ng-hide="uploader.queue[0].isSuccess">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar progress-bar-striped active"
                                                         role="progressbar"
                                                         ng-style="{ 'width': uploader.queue[0].progress + '%' }"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel-footer">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                <button uib-tooltip="حفظ"
                                        tooltip-append-to-body="true"
                                        type="submit"
                                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect pull-left">
                                    <span class="mdl-list__item-primary-content">
                                        <i class="material-icons mdl-list__item-icon">save</i>
                                        <span>حفظ البيانات</span>
                                    </span>
                                </button>

                            </div>

                        </div>
                    </div>
                </div>

            </form>

        </div>

    </main>

</div>