<form name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">{{action==='create' ? 'add' : 'edit'}}</i>
                <strong ng-if="lang==='AR'">إغلاق المهمة على موظف</strong>
                <strong ng-if="lang==='AR'">Close Task</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="panel-title-box pull-right">
                            <h3 ng-if="lang==='AR'">البيانات الأساسية</h3>
                            <h3 ng-if="lang==='EN'">Basic Information</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body-table">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">رقم المهمة</span>
                                        <span ng-if="lang==='EN'">Code</span>
                                    </td>
                                    <td>{{task.code}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">عنوان المهمة</span>
                                        <span ng-if="lang==='EN'">Title</span>
                                    </td>
                                    <td>{{task.title}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">تفاصيل المهمة</span>
                                        <span ng-if="lang==='EN'">Content</span>
                                    </td>
                                    <td>{{task.content}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">الحد الأقصى للتحذيرات</span>
                                        <span ng-if="lang==='EN'">Max Warns</span>
                                    </td>
                                    <td>{{task.warn}}</td>
                                </tr>
                                <tr>
                                    <td class="fit">
                                        <span ng-if="lang==='AR'">مقدار الحسم عند الوصول للحد الاقصي للتحذيرات</span>
                                        <span ng-if="lang==='EN'">Deduction Amount After Reaching Max Warns</span>
                                    </td>
                                    <td>{{task.deduction | currency:'SAR'}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">مقدار الحسم عند إغلاق المهمة تلقائياً</span>
                                        <span ng-if="lang==='EN'">Deduction Amount On Auto Close</span>
                                    </td>
                                    <td>{{task.deductionOnAutoClose | currency:'SAR'}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">تاريخ الإنشاء</span>
                                        <span ng-if="lang==='EN'">Start Date</span>
                                    </td>
                                    <td>
                                        <span ng-show="dateType==='H'">{{task.startDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span ng-show="dateType==='G'">{{task.startDate | date: 'yyyy-MM-dd'}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">تاريخ التسليم</span>
                                        <span ng-if="lang==='EN'">End Date</span>
                                    </td>
                                    <td>
                                        <span ng-show="dateType==='H'">{{task.endDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span ng-show="dateType==='G'">{{task.endDate | date: 'yyyy-MM-dd'}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">جهة التكليف</span>
                                        <span ng-if="lang==='EN'">Creator</span>
                                    </td>
                                    <td>{{task.person.nickname}} / {{task.person.name}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span ng-if="lang==='AR'">الموظفون</span>
                                        <span ng-if="lang==='EN'">Employees</span>
                                    </td>
                                    <td>
                                    <span class="label label-info"
                                          ng-repeat="to in task.taskTos"
                                          style="margin: 2px">{{to.person.name}}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="alert alert-info" role="alert">
                    <strong>عند إغلاق المهمة على موظف من المكلفين لن يكون بإمكانه اضافة حركات او تعليقات على
                        المهمة مرة اخرى، بالاضافة الى انه لن تصله رسائل تحذير او خصومات بشأن المهمة، ولكن
                        بامكانه متابعة المهمة حتى وقت إغلاقها المحدد من قبل جهة التكليف.</strong>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="panel-title-box pull-right">
                            <h3 ng-if="lang==='AR'">البيانات المطلوبة</h3>
                            <h3 ng-if="lang==='EN'">Required Information</h3>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12"
                             ng-show="form.$invalid && form.$submitted">
                            <div class="alert alert-danger" role="alert">
                                <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                                <strong ng-if="lang==='EN'">Please Complete Required Fields</strong>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="taskTos" class="control-label">
                                <span ng-if="lang==='AR'">الموظف</span>
                                <span ng-if="lang==='EN'">Employee</span>
                            </label>
                            <select id="taskTos"
                                    data-placeholder="{{lang==='AR' ? 'ابحث عن الاسم' : 'Search For Employee...'}}"
                                    no-results-text="'{{lang==='AR' ? 'لا توجد بيانات توافق بحثك' : 'No Results.'}}'"
                                    placeholder-text-single="'{{lang==='AR' ? 'اختر الموظف' : 'Please Select Employee...'}}'"
                                    class="form-control"
                                    chosen=""
                                    required="required"
                                    disable-validation-message=""
                                    ng-model="buffer.taskTo"
                                    focus-autofocus="1"
                                    ng-options="(taskTo.person.nickname + ' / ' + taskTo.person.name) for taskTo in task.taskTos | orderBy:'name' track by taskTo.id">
                            </select>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="importance" class="control-label">
                                <span ng-if="lang==='AR'">تقييم الآداء</span>
                                <span ng-if="lang==='EN'">Evaluation</span>
                            </label>
                            <select id="importance"
                                    class="form-control"
                                    required="required"
                                    disable-validation-message=""
                                    ng-model="buffer.degree">
                                <option ng-if="lang==='AR'" value=""></option>
                                <option ng-if="lang==='EN'" value=""></option>
                                <option ng-if="lang==='AR'" value="A">ممتاز</option>
                                <option ng-if="lang==='EN'" value="A">Excellent</option>
                                <option ng-if="lang==='AR'" value="B">جيد جداً</option>
                                <option ng-if="lang==='EN'" value="B">Very Good</option>
                                <option ng-if="lang==='AR'" value="C">جيد</option>
                                <option ng-if="lang==='EN'" value="C">Good</option>
                                <option ng-if="lang==='AR'" value="D">مقبول</option>
                                <option ng-if="lang==='EN'" value="D">Pass</option>
                                <option ng-if="lang==='AR'" value="F">سيئ</option>
                                <option ng-if="lang==='EN'" value="F">Bad</option>
                            </select>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="note" class="control-label">
                                <span ng-if="lang==='AR'">التعليق</span>
                                <span ng-if="lang==='EN'">Comment</span>
                            </label>
                            <textarea id="note"
                                      type="text"
                                      msd-elastic="\n"
                                      required="required"
                                      class="form-control"
                                      disable-validation-message=""
                                      placeholder="{{lang==='AR' ? 'اكتب ما تود ارساله الى الموظف' : 'Type Comment...'}}"
                                      ng-model="buffer.message">
                             </textarea>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="{{lang==='AR' ? 'حفظ' : 'Save'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">save</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>