<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <a class="pull-left" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 class="panel-title mdl-list__item pull-right">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">{{action==='create' ? 'add' : 'edit'}}</i>
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12"
                 ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                </div>
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="action=='create'">
                <label for="master" class="control-label">
                    <span>الموظفون</span>
                    <span class="fa fa-info-circle" tooltip-append-to-body="true"
                          uib-tooltip="يمكنك تكليف عدد غير محدود من الموظفين بنفس المهمة"></span>
                </label>
                <select id="master"
                        data-placeholder="ابحث عن البريد الإلكتروني"
                        no-results-text="'لا توجد بيانات توافق بحثك'"
                        placeholder-text-multiple="'اختر الحساب الشخصي'"
                        class="form-control text-right"
                        chosen=""
                        multiple
                        ng-model="buffer.toPersonList"
                        ng-required="action=='create'"
                        disable-validation-message=""
                        focus-autofocus="1"
                        ng-options="'فرع ' + ' [ ' + person.employees[0].department.branch.name + ' ] ' + ' قسم ' + ' [ ' + person.employees[0].department.name + ' ] ' + person.nickname + ' / ' + person.name for person in persons track by person.id">
                </select>
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="action==='update'">
                <label for="code" class="control-label"> رقم المهمة </label>
                <input id="code"
                       type="text"
                       class="form-control text-right"
                       readonly
                       ng-model="task.code">
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="action=='create'">
                <label for="structure" class="control-label">
                    <span>نوع المهمة</span>
                    <span class="fa fa-info-circle" tooltip-append-to-body="true"
                          uib-tooltip="المقصود بالمشتركة هو ان المهمة ستكون واحدة برقم موحد لكل المكلفين، اما المنفردة فسيتم فيها انشاء مهمة لكل موظف برقم مختلف"></span>
                </label>
                <select id="structure"
                        placeholder="اختر نوع المهمة"
                        class="form-control text-right"
                        required="required"
                        disable-validation-message=""
                        ng-model="buffer.structure">
                    <option value="true">منفردة</option>
                    <option value="false">مشتركة</option>
                </select>
            </div>


            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="title" class="control-label"> عنوان المهمة </label>
                <input id="title"
                       type="text"
                       class="form-control text-right"
                       required="required"
                       disable-validation-message=""
                       ng-model="task.title">
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="content" class="control-label">تفاصيل المهمة</label>
                <textarea id="content"
                          type="text"
                          msd-elastic="\n"
                          required="required"
                          class="form-control text-right"
                          disable-validation-message=""
                          placeholder="تفاصيل المهمة"
                          ng-model="task.content">
                </textarea>
            </div>

            <div class="form-group row">

                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6"
                     ng-init="action==='create' ? (task.commentType='Day') : ''">
                    <label for="commentType" class="control-label">
                        <span>فترة السماح للتعليق</span>
                    </label>
                    <select id="commentType"
                            placeholder="اختر نوع الفترة المسموح بها لإرسال التعليقات"
                            class="form-control text-right"
                            required="required"
                            disable-validation-message=""
                            ng-model="task.commentType">
                        <option value="Day">يومياً</option>
                        <option value="Week">اسبوعياً</option>
                        <option value="Month">شهرياً</option>
                    </select>
                </div>

                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6"
                     ng-init="action==='create' ? (task.commentTypeCount = 1) : ''">
                    <label for="commentTypeCount" class="control-label">{{task.commentType==='Day' ? 'الحد الأقصى لعدد
                        الأيام دون تعليق' : (task.commentType==='Week' ? 'الحد الأقصى لعدد الاسابيع دون تعليق' : 'الحد
                        الأقصى لعدد الشهور دون تعليق')}}</label>
                    <input id="commentTypeCount"
                           type="number"
                           ng-min="1"
                           class="form-control text-right"
                           ng-required="required"
                           disable-validation-message=""
                           ng-model="task.commentTypeCount">
                </div>

            </div>

            <div class="form-group row">
                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6"
                     ng-init="action==='create' ? (task.importance='Regular') : ''">
                    <label for="importance" class="control-label">
                        <span>درجة الأهمية</span>
                    </label>
                    <select id="importance"
                            placeholder="اختر درجة الأهمية للمساعدة فى التصنيف"
                            class="form-control text-right"
                            required="required"
                            disable-validation-message=""
                            ng-model="task.importance">
                        <option value="Regular">عادية</option>
                        <option value="Important">متوسطة</option>
                        <option value="Critical">عاجلة</option>
                    </select>
                </div>

                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="warn" class="control-label"> الحد الأقصى للتحذيرات </label>
                    <input id="warn"
                           type="number"
                           min="0"
                           class="form-control text-right"
                           required="required"
                           disable-validation-message=""
                           ng-model="task.warn">
                </div>

            </div>

            <div class="row">

                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="deduction" class="control-label"> مقدار الحسم عند الوصول للحد الاقصي للتحذيرات </label>
                    <div dir="ltr" class="input-group" id="deduction">
                        <span class="input-group-addon">ريال</span>
                        <input dir="rtl"
                               type="number"
                               min="0"
                               required="required"
                               disable-validation-message=""
                               class="form-control text-right "
                               ng-model="task.deduction">
                    </div>
                </div>


                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="deductionOnAutoClose" class="control-label"> مقدار الحسم عند إغلاق المهمة
                        تلقائياً </label>
                    <div dir="ltr" class="input-group" id="deductionOnAutoClose">
                        <span class="input-group-addon">ريال</span>
                        <input dir="rtl"
                               type="number"
                               min="0"
                               required="required"
                               disable-validation-message=""
                               class="form-control text-right "
                               ng-model="task.deductionOnAutoClose">
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="dateType==='H' && action==='create'">
                    <label for="startDate" class="control-label">تاريخ البدء</label>
                    <div dir="ltr" class="input-group">
                        <input dir="rtl"
                               id="startDate"
                               type="text"
                               class="form-control text-right is-calendarPicker"
                               ng-model="task.startDate"
                               ng-required="dateType==='H' && action==='create'"
                               disable-validation-message=""
                               calendarType="ummalqura"
                               language="en"
                               dateFormat="yyyy/mm/dd"
                               showOnFocus="false"
                               readonly="readonly"
                               kdatepicker>
                    </div>
                </div>

                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="dateType==='G' && action==='create'">
                    <label for="G-startDate" class="control-label"> تاريخ البدء </label>
                    <input id="G-startDate"
                           class="form-control text-right "
                           type="datetime-local"
                           name="input"
                           ng-model="task.startDate"
                           placeholder="yyyy-MM-dd"
                           min="2017-01-01"
                           max="2030-12-31"
                           ng-required="dateType==='G' && action==='create'"
                           disable-validation-message=""/>
                </div>

                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="dateType==='H' && action==='create'">
                    <label for="endDate" class="control-label">تاريخ التسليم</label>
                    <div dir="ltr" class="input-group">
                        <input dir="rtl"
                               id="endDate"
                               type="text"
                               class="form-control text-right is-calendarPicker"
                               ng-model="task.endDate"
                               ng-required="dateType==='H' && action==='create'"
                               disable-validation-message=""
                               calendarType="ummalqura"
                               language="en"
                               dateFormat="yyyy/mm/dd"
                               showOnFocus="false"
                               readonly="readonly"
                               kdatepicker>
                    </div>
                </div>

                <div class="form-group text-right col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="dateType==='G' && action==='create'">
                    <label for="G-endDate" class="control-label"> تاريخ التسليم </label>
                    <input id="G-endDate"
                           class="form-control text-right "
                           type="datetime-local"
                           name="input"
                           ng-model="task.endDate"
                           placeholder="yyyy-MM-dd"
                           min="2017-01-01"
                           max="2030-12-31"
                           ng-required="dateType==='G' && action==='create'"
                           disable-validation-message=""/>
                </div>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button ng-if="action=='create'"
                    uib-tooltip="اضافة"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button ng-if="action=='update'"
                    uib-tooltip="تعديل"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">edit</i>
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>