<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 class="panel-title mdl-list__item" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">close</i>
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="alert alert-info" role="alert">
                    <strong ng-if="lang==='AR'">ملاحظة هامة: سيتم إرسال طلب الإغلاق/التمديد إلى جهة التكليف، ويجب عليك إستمرار التفاعل مع المهمة حتى يتم الرد وإلا سيتم تطبيق الخصومات.</strong>
                    <strong ng-if="lang==='EN'">Note: Request Will Be Send, But You Must Also Continue Interacting With This Task Until Receiving Response.</strong>
                </div>
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="panel-title-box" ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}">
                            <h3 ng-if="lang==='AR'">البيانات المطلوبة</h3>
                            <h3 ng-if="lang==='EN'">Required Information</h3>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12"
                             ng-show="form.$invalid && form.$submitted">
                            <div class="alert alert-danger" role="alert">
                                <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                                <strong ng-if="lang==='EN'">Please Complete Required Fields</strong>
                            </div>
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="note" class="control-label">
                                <span ng-if="lang==='AR'">الرسالة</span>
                                <span ng-if="lang==='EN'">Message</span>
                            </label>
                            <textarea id="note"
                                      type="text"
                                      focus-autofocus="1"
                                      msd-elastic="\n"
                                      required="required"
                                      class="form-control text-right"
                                      disable-validation-message=""
                                      ng-model="taskCloseRequest.note">
                            </textarea>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="{{lang==='AR' ? 'ارسال' : 'Send'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">send</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Close'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>