<form dir="rtl" name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <h3 class="modal-title text-center" id="modal-title">اضافة حركة / تعليق لمهمة</h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="panel-title-box pull-right">
                            <h3>البيانات الاساسية</h3>
                        </div>
                    </div>
                    <div class="panel-body panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td>رقم المهمة</td>
                                    <td>{{taskOperation.task.code}}</td>
                                </tr>
                                <tr>
                                    <td>عنوان المهمة</td>
                                    <td>{{taskOperation.task.title}}</td>
                                </tr>
                                <tr>
                                    <td>تفاصيل المهمة</td>
                                    <td>{{taskOperation.task.content}}</td>
                                </tr>
                                <tr>
                                    <td>الحد الأقصى للتحذيرات</td>
                                    <td>{{taskOperation.task.warn}}</td>
                                </tr>
                                <tr>
                                    <td class="fit">مقدار الحسم عند الوصول للحد الاقصي للتحذيرات</td>
                                    <td>{{taskOperation.task.deduction}} ريال سعودي</td>
                                </tr>
                                <tr>
                                    <td>مقدار الحسم عند إغلاق المهمة تلقائياً</td>
                                    <td>{{taskOperation.task.deductionOnAutoClose}} ريال سعودي</td>
                                </tr>
                                <tr>
                                    <td>تاريخ الإنشاء</td>
                                    <td>
                                        <span ng-show="dateType==='H'">{{taskOperation.task.startDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span ng-show="dateType==='G'">{{taskOperation.task.startDate | date: 'yyyy-MM-dd'}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>تاريخ التسليم</td>
                                    <td>
                                        <span ng-show="dateType==='H'">{{taskOperation.task.endDate | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}</span>
                                        <span ng-show="dateType==='G'">{{taskOperation.task.endDate | date: 'yyyy-MM-dd'}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>جهة التكليف</td>
                                    <td>{{taskOperation.task.person.nickname}} / {{taskOperation.task.person.name}}</td>
                                </tr>
                                <tr>
                                    <td>الموظفون</td>
                                    <td>
                                    <span class="label label-info"
                                          ng-repeat="to in taskOperation.task.taskTos"
                                          style="margin: 2px">{{to.person.name}}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="alert alert-info" role="alert">
                    <strong>ذكرك لإنجازاتك فى خلال فترة زمنية من العمل له عدة فوائد فهو:</strong>
                    <ul>
                        <li>يقيك من المسائلة من قبل مدرائك</li>
                        <li>يسهل من تقييمك و تقييم الآخرين لآدائك فى العمل</li>
                        <li>يحفظ حقوقك</li>
                    </ul>
                </div>
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <toggle-switch
                                    dir="ltr"
                                    style="width: 100%"
                                    ng-model="showAttach"
                                    class="switch-success"
                                    on-label="مرفقات"
                                    off-label="مرفقات">
                            </toggle-switch>
                        </div>
                        <div class="panel-title-box pull-right">
                            <h3>البيانات المطلوبة</h3>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label for="note" class="control-label">الحركة / التعليق</label>
                            <textarea id="note"
                                      type="text"
                                      focus-autofocus="1"
                                      msd-elastic="\n"
                                      required="required"
                                      class="form-control text-right"
                                      disable-validation-message=""
                                      placeholder="اذكر باختصار منجزات العمل"
                                      ng-model="taskOperation.content">
                             </textarea>
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="alert alert-warning" role="alert">
                                <strong>ملحوظة هامة : لا يمكن تعديل الحركات/التعليقات فيما بعد فاحرص على كتابة كل ما
                                    أنجزته</strong>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="form-group text-right col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="showAttach">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <input type="file" nv-file-select="" accept=".pdf" uploader="uploader" multiple/>
                        </div>
                        <div class="panel-title-box pull-right">
                            <h3>المرفقات</h3>
                        </div>
                    </div>
                    <div class="panel panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="text-right">اسم الملف</th>
                                    <th class="text-right">رابط الملف</th>
                                    <th class="text-right" ng-show="uploader.isHTML5">الحجم</th>
                                    <th class="text-right" ng-show="uploader.isHTML5">معدل التحميل</th>
                                    <th class="text-right">الحالة</th>
                                    <th class="text-right">العمليات</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td><a ng-href="{{item.file.url}}" target="_blank" href="">اضغط هنا</a></td>
                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} ميجا
                                    </td>
                                    <td ng-show="uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar"
                                                 ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="fa fa-check-square-o"></i></span>
                                        <span ng-show="item.isCancel"><i class="fa fa-ban"></i></span>
                                        <span ng-show="item.isError"><i class="fa fa-times"></i></span>
                                    </td>
                                    <td class="fit">
                                        <button type="button"
                                                class="btn btn-success btn-xs"
                                                ng-click="item.upload()"
                                                ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <span>رفع</span>
                                            <i class="fa fa-upload"></i>
                                        </button>
                                        <button type="button"
                                                class="btn btn-warning btn-xs"
                                                ng-click="item.cancel()"
                                                ng-disabled="!item.isUploading">
                                            <span>إلغاء</span>
                                            <i class="fa fa-ban"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                            <span>حذف</span>
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="btn-group btn-group-justified">
                            <a ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length"
                               uib-tooltip="رفع الكل"
                               tooltip-append-to-body="true"
                               type="button"
                               class="btn btn-primary">
                                <i class="fa fa-upload fa-lg"></i>
                            </a>
                            <a ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading"
                               uib-tooltip="إلغاء الكل"
                               tooltip-append-to-body="true"
                               type="button"
                               class="btn btn-primary">
                                <i class="fa fa-close fa-lg"></i>
                            </a>
                            <a ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length"
                               uib-tooltip="حذف الكل"
                               tooltip-append-to-body="true"
                               type="button"
                               class="btn btn-primary">
                                <i class="fa fa-trash fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button uib-tooltip="اضافة"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>