<form name="form" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <a ng-class="{'pull-left' : lang==='AR', 'pull-right' : lang==='EN'}" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 ng-class="{'pull-right' : lang==='AR', 'pull-left' : lang==='EN'}" class="panel-title mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">{{action==='create' ? 'add' : 'edit'}}</i>
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group col-xs-12 col-sm-6 col-md-12 col-lg-12"
                 ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong ng-if="lang==='AR'">فضلاً اكمل الحقول المطلوبة</strong>
                    <strong ng-if="lang==='EN'">Please Complete Required Fields</strong>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="action=='create'">
                <label for="master" class="control-label">
                    <span>
                        <span ng-if="lang==='AR'">الموظفون</span>
                        <span ng-if="lang==='EN'">Employees</span>
                    </span>
                </label>
                <select id="master"
                        data-placeholder="{{lang==='AR' ? 'ابحث عن الموظف' : 'Search For Employee...'}}"
                        no-results-text="'{{lang==='AR' ? 'لا توجد بيانات توافق بحثك' : 'No Reqults.'}}'"
                        placeholder-text-multiple="'{{lang==='AR' ? 'اختر الحساب الشخصي' : 'Please Select Employee...'}}'"
                        class="form-control"
                        chosen=""
                        multiple
                        ng-model="buffer.toPersonList"
                        ng-required="action=='create'"
                        disable-validation-message=""
                        focus-autofocus="1"
                        ng-options="(person.nickname + ' / ' + person.name) for person in persons | orderBy:'name' track by person.id">
                </select>
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="action==='update'">
                <label for="code" class="control-label">
                    <span ng-if="lang==='AR'">رقم المهمة</span>
                    <span ng-if="lang==='EN'">Task Code</span>
                </label>
                <input id="code"
                       type="text"
                       class="form-control"
                       readonly
                       ng-model="task.code">
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="action=='create'">
                <label for="structure" class="control-label">
                    <span ng-if="lang==='AR'">نوع المهمة</span>
                    <span ng-if="lang==='EN'">Task Structure</span>
                </label>
                <select id="structure"
                        placeholder="{{lang==='AR' ? 'اختر نوع المهمة' : 'Select Task Structure'}}"
                        class="form-control"
                        required="required"
                        disable-validation-message=""
                        ng-model="buffer.structure">
                    <option ng-if="lang==='AR'" value="true">منفردة</option>
                    <option ng-if="lang==='EN'" value="true">Single</option>
                    <option ng-if="lang==='AR'" value="false">مشتركة</option>
                    <option ng-if="lang==='EN'" value="false">Common</option>
                </select>
            </div>


            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="title" class="control-label">
                    <span ng-if="lang==='AR'">عنوان المهمة</span>
                    <span ng-if="lang==='EN'">Title</span>
                </label>
                <input id="title"
                       type="text"
                       class="form-control"
                       required="required"
                       disable-validation-message=""
                       ng-model="task.title">
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="content" class="control-label">
                    <span ng-if="lang==='AR'">تفاصيل المهمة</span>
                    <span ng-if="lang==='EN'">Details</span>
                </label>
                <textarea id="content"
                          type="text"
                          msd-elastic="\n"
                          required="required"
                          class="form-control"
                          disable-validation-message=""
                          placeholder="{{lang==='AR' ? 'تفاصيل المهمة' : 'Type Details...'}}"
                          ng-model="task.content">
                </textarea>
            </div>

            <div class="form-group row">

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
                     ng-init="action==='create' ? (task.commentType='Day') : ''">
                    <label for="commentType" class="control-label">
                        <span ng-if="lang==='AR'">فترة السماح للتعليق</span>
                        <span ng-if="lang==='EN'">فترة السماح للتعليق</span>
                    </label>
                    <select id="commentType"
                            placeholder="اختر نوع الفترة المسموح بها لإرسال التعليقات"
                            class="form-control"
                            required="required"
                            disable-validation-message=""
                            ng-model="task.commentType">
                        <option ng-if="lang==='AR'" value="Day">يومياً</option>
                        <option ng-if="lang==='EN'" value="Day">Daily</option>
                        <option ng-if="lang==='AR'" value="Week">اسبوعياً</option>
                        <option ng-if="lang==='EN'" value="Week">Weekly</option>
                        <option ng-if="lang==='AR'" value="Month">شهرياً</option>
                        <option ng-if="lang==='EN'" value="Month">Monthly</option>
                    </select>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
                     ng-init="action==='create' ? (task.commentTypeCount = 1) : ''">
                    <label for="commentTypeCount" class="control-label">{{task.commentType==='Day' ? 'الحد الأقصى لعدد
                        الأيام دون تعليق' : (task.commentType==='Week' ? 'الحد الأقصى لعدد الاسابيع دون تعليق' : 'الحد
                        الأقصى لعدد الشهور دون تعليق')}}</label>
                    <input id="commentTypeCount"
                           type="number"
                           ng-min="1"
                           class="form-control"
                           ng-required="required"
                           disable-validation-message=""
                           ng-model="task.commentTypeCount">
                </div>

            </div>

            <div class="form-group row">
                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
                     ng-init="action==='create' ? (task.importance='Regular') : ''">
                    <label for="importance" class="control-label">
                        <span ng-if="lang==='AR'">درجة الأهمية</span>
                        <span ng-if="lang==='EN'">Importance</span>
                    </label>
                    <select id="importance"
                            placeholder="اختر درجة الأهمية للمساعدة فى التصنيف"
                            class="form-control"
                            required="required"
                            disable-validation-message=""
                            ng-model="task.importance">
                        <option ng-if="lang==='AR'" value="Regular">عادية</option>
                        <option ng-if="lang==='EN'" value="Regular">Regular</option>
                        <option ng-if="lang==='AR'" value="Important">متوسطة</option>
                        <option ng-if="lang==='EN'" value="Important">Important</option>
                        <option ng-if="lang==='AR'" value="Critical">عاجلة</option>
                        <option ng-if="lang==='EN'" value="Critical">Critical</option>
                    </select>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="warn" class="control-label">
                        <span ng-if="lang==='AR'">الحد الأقصى للتحذيرات</span>
                        <span ng-if="lang==='EN'">Warns Limit</span>
                    </label>
                    <input id="warn"
                           type="number"
                           min="0"
                           class="form-control"
                           required="required"
                           disable-validation-message=""
                           ng-model="task.warn">
                </div>

            </div>

            <div class="row">

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="deduction" class="control-label">
                        <span ng-if="lang==='AR'">مقدار الحسم عند الوصول للحد الاقصي للتحذيرات</span>
                        <span ng-if="lang==='EN'">Deduction Amount On Exceeding Warnings Limit</span>
                    </label>
                    <div dir="ltr" class="input-group" id="deduction">
                        <span class="input-group-addon">SAR</span>
                        <input dir="rtl"
                               type="number"
                               min="0"
                               required="required"
                               disable-validation-message=""
                               class="form-control "
                               ng-model="task.deduction">
                    </div>
                </div>


                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="deductionOnAutoClose" class="control-label">
                        <span ng-if="lang==='AR'">مقدار الحسم عند إغلاق المهمة تلقائيا</span>
                        <span ng-if="lang==='EN'">Deduction Amount On Auto Close</span>
                    </label>
                    <div dir="ltr" class="input-group" id="deductionOnAutoClose">
                        <span class="input-group-addon">SAR</span>
                        <input dir="rtl"
                               type="number"
                               min="0"
                               required="required"
                               disable-validation-message=""
                               class="form-control "
                               ng-model="task.deductionOnAutoClose">
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="dateType==='H' && action==='create'">
                    <label for="startDate" class="control-label">
                        <span ng-if="lang==='AR'">تاريخ البدء</span>
                        <span ng-if="lang==='EN'">Start Date</span>
                    </label>
                    <div dir="ltr" class="input-group">
                        <input dir="rtl"
                               id="startDate"
                               type="text"
                               class="form-control is-calendarPicker"
                               ng-model="task.startDate"
                               ng-required="dateType==='H' && action==='create'"
                               disable-validation-message=""
                               calendarType="ummalqura"
                               language="en"
                               dateFormat="yyyy/mm/dd"
                               showOnFocus="false"
                               readonly="readonly"
                               kdatepicker>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="dateType==='G' && action==='create'">
                    <label for="G-startDate" class="control-label">
                        <span ng-if="lang==='AR'">تاريخ البدء</span>
                        <span ng-if="lang==='EN'">Start Date</span>
                    </label>
                    <input id="G-startDate"
                           class="form-control "
                           type="datetime-local"
                           name="input"
                           ng-model="task.startDate"
                           placeholder="yyyy-MM-dd"
                           min="2017-01-01"
                           max="2030-12-31"
                           ng-required="dateType==='G' && action==='create'"
                           disable-validation-message=""/>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="dateType==='H' && action==='create'">
                    <label for="endDate" class="control-label">
                        <span ng-if="lang==='AR'">تاريخ التسليم</span>
                        <span ng-if="lang==='EN'">End Date</span>
                    </label>
                    <div dir="ltr" class="input-group">
                        <input dir="rtl"
                               id="endDate"
                               type="text"
                               class="form-control is-calendarPicker"
                               ng-model="task.endDate"
                               ng-required="dateType==='H' && action==='create'"
                               disable-validation-message=""
                               calendarType="ummalqura"
                               language="en"
                               dateFormat="yyyy/mm/dd"
                               showOnFocus="false"
                               readonly="readonly"
                               kdatepicker>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="dateType==='G' && action==='create'">
                    <label for="G-endDate" class="control-label">
                        <span ng-if="lang==='AR'">تاريخ التسليم</span>
                        <span ng-if="lang==='EN'">End Date</span>
                    </label>
                    <input id="G-endDate"
                           class="form-control "
                           type="datetime-local"
                           name="input"
                           ng-model="task.endDate"
                           placeholder="yyyy-MM-dd"
                           min="2017-01-01"
                           max="2030-12-31"
                           ng-required="dateType==='G' && action==='create'"
                           disable-validation-message=""/>
                </div>

            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button ng-if="action=='create'"
                    uib-tooltip="{{lang==='AR' ? 'اضافة' : 'Save'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button ng-if="action=='update'"
                    uib-tooltip="{{lang==='AR' ? 'تعديل' : 'Edit'}}"
                    tooltip-append-to-body="true"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">edit</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'مسح الحقول' : 'Clear'}}"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="{{lang==='AR' ? 'خروج' : 'Exit'}}"
                    tooltip-append-to-body="true"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>