<form dir="rtl" name="from" ng-submit="submit()" novalidate="novalidate" focus-group="" focus-stack=""
      focus-group-head="loop" focus-group-tail="loop">

    <div class="modal-header">
        <a class="pull-left" href="" ng-click="cancel()">
            <span class="fa fa-close fa-2x"></span>
        </a>
        <h3 class="panel-title mdl-list__item pull-right">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">{{action==='create' ? 'add' : 'edit'}}</i>
                <strong>{{title}}</strong>
            </span>
        </h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="text-right col-xs-12 col-sm-6 col-md-12 col-lg-12" ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading">البيانات الأساسية</div>
                    <div class="panel-body">
                        <div class="form-group text-right col-xs-12 col-sm-6 col-md-12 col-lg-12">
                            <label for="nickname" class="control-label">اللقب </label>
                            <input id="nickname"
                                   type="text"
                                   required="required"
                                   disable-validation-message=""
                                   class="form-control text-right"
                                   focus-index="1"
                                   ng-model="person.nickname">
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-6 col-md-12 col-lg-12">
                            <label for="name" class="control-label">الاسم كاملاً </label>
                            <input id="name"
                                   type="text"
                                   required="required"
                                   disable-validation-message=""
                                   class="form-control text-right"
                                   focus-index="1"
                                   ng-model="person.name">
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-6 col-md-12 col-lg-12">
                            <label for="nationality" class="control-label">الجنسية </label>
                            <input id="nationality"
                                   type="text"
                                   class="form-control text-right"
                                   focus-index="2"
                                   required="required"
                                   disable-validation-message=""
                                   ng-model="person.nationality">
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-6 col-md-12 col-lg-12">
                            <label for="identityNumber" class="control-label">رقم الهوية / رخصة الإقامة </label>
                            <input id="identityNumber"
                                   type="text"
                                   class="form-control text-right"
                                   focus-index="3"
                                   ng-model="person.identityNumber">
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-6 col-md-12 col-lg-12">
                            <label for="mobile" class="control-label">الجوال </label>
                            <input id="mobile"
                                   type="text"
                                   required="required"
                                   disable-validation-message=""
                                   class="form-control text-right"
                                   focus-index="4"
                                   ng-model="person.mobile">
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-6 col-md-12 col-lg-12">
                            <label for="address" class="control-label">العنوان الحالي </label>
                            <input id="address"
                                   type="text"
                                   class="form-control text-right"
                                   focus-index="5"
                                   ng-model="person.address">
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-6 col-md-12 col-lg-12">
                            <label for="qualification" class="control-label">المؤهل </label>
                            <input id="qualification"
                                   type="text"
                                   required="required"
                                   disable-validation-message=""
                                   class="form-control text-right"
                                   focus-index="6"
                                   ng-model="person.qualification">
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-6 col-md-12 col-lg-12">
                            <label for="team" class="control-label">مجموعة الصلاحيات</label>
                            <select id="team" data-placeholder="ابحث عن المجموعة"
                                    no-results-text="'لا توجد مجموعات توافق بحثك'"
                                    placeholder-text-single="'اختر المجموعة'"
                                    class="form-control text-right"
                                    chosen=""
                                    ng-model="person.team"
                                    focus-index="7"
                                    required="required"
                                    disable-validation-message=""
                                    ng-options="team.name for team in teams track by team.id">
                            </select>
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-6 col-md-12 col-lg-12">
                            <label for="email" class="control-label">البريد الإلكتروني</label>
                            <input id="email"
                                   dir="ltr"
                                   type="text"
                                   focus-index="8"
                                   required="required"
                                   disable-validation-message=""
                                   class="form-control text-left"
                                   ng-model="person.email">
                        </div>

                        <div class="form-group text-right col-xs-12 col-sm-6 col-md-12 col-lg-12">
                            <label for="password" class="control-label">الرقم السري</label>
                            <input id="password"
                                   dir="ltr"
                                   type="password"
                                   focus-index="9"
                                   required="required"
                                   disable-validation-message=""
                                   class="form-control text-left"
                                   ng-model="person.password">
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading">الشعار الرسمي</div>
                    <div class="panel-body">
                        <input type="file" nv-file-select="" uploader="uploader" accept="image/*"/>
                        <img ng-src="{{logoLink}}" style="width: 100%; height: 100%"/>
                        <div ng-show="uploader.queue.length > 0" ng-hide="uploader.queue[0].isSuccess">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                     ng-style="{ 'width': uploader.queue[0].progress + '%' }"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="row">
            <button ng-if="action=='create'"
                    uib-tooltip="اضافة"
                    tooltip-append-to-body="true"
                    focus-index="8"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">add</i>
            </button>
            <button ng-if="action=='update'"
                    uib-tooltip="تعديل"
                    tooltip-append-to-body="true"
                    focus-index="9"
                    type="submit"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">edit</i>
            </button>
            <button uib-tooltip="مسح الحقول"
                    tooltip-append-to-body="true"
                    type="reset"
                    ng-click="form.$setPristine()"
                    class="mdl-button mdl-js-button mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">delete</i>
            </button>
            <button uib-tooltip="خروج"
                    tooltip-append-to-body="true"
                    focus-index="11"
                    type="button"
                    ng-click="cancel()"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect col-xs-4 col-sm-4 col-md-4">
                <i class="material-icons">power_settings_new</i>
            </button>
        </div>

    </div>

</form>